asgiref
cachetools
certifi
charset-normalizer
dj-database-url
Django
google-ai-generativelanguage
google-api-core
google-auth
google-generativeai
googleapis-common-protos
grpcio
grpcio-status
gunicorn
idna
install
joblib
numpy
packaging
pandas
proto-plus
protobuf
psycopg2
pyasn1
pyasn1-modules
python-dateutil
pytz
requests
rsa
scikit-learn
scipy
six
sqlparse
threadpoolctl
tqdm
typing_extensions
tzdata
urllib3